body {
    display: grid;
    grid-template-columns: 20% 79% 1%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav main aside"
        "footer footer footer";
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #a3c1ad;
    color: black;}
    
@font-face {
	font-family: "fortnitefont";
	src: url("assets/fortnite.otf") format("opentype");
	font-weight: normal;
	font-style: normal;}    
	
@font-face {
	font-family: "simpsonfont";
	src: url("assets/simpson.otf") format("opentype");
	font-weight: normal;
	font-style: normal;} 
	
h1 {font-family: fortnitefont;
	font-size: 125px;}
h2 {font-family: simpsonfont;
	color: 	#f8db27;
	font-size: 65px;}
h4, h3 {color: #0A3D62;
	font-size: 22px;}
h5 {color:  #0A3D62;
	font-size: 23px;}
h6 {color: #0A3D62;
	font-size: 20px;}

.umrandung {color: white;
			-webkit-text-stroke: 1px black;}
.umrandungzwei {color: #f8db27;
			-webkit-text-stroke: 1px black;}
			
.affe {color: white;
		font-weight: bolt;}
		
.wiki {color: #f8db27;
		font-family: simpsonfont;
		-webkit-text-stroke: 1px black;}
		
.klasse {
	color: #1A3C34;
	font-weight: bold;}


table {border-collapse: collapse;
    width: 100%;}

th, td {border: 2px solid black;
    padding: 15px;
    text-align: center;
    font-size: 20px;}

th {background-color: #AFCDA0;
    color: black;}
    
td:nth-child(1) {font-weight: bold;
				color: #0A3D62;
				font-size: 25px;
				-webkit-text-stroke: 0.2px black;}
				
#tabellezwei td:nth-child(3) {font-weight: bold;}
	.leben {color: #14A63D;
		font-size: 20px;
		font-weight: bold;
		-webkit-text-stroke: 0.2px black;}
	.schild {color: #2352AD;
		font-size: 20px;
		font-weight: bold;
		-webkit-text-stroke: 0.2px black;}
	.beides {color: #341C57;
		font-size: 20px;
		font-weight: bold;
		-webkit-text-stroke: 0.2px black;}
	.schaden {color: #611E1E;
			font-size: 20px;
			font-weight: bold;
			-webkit-text-stroke: 0.1px black;}
	.Waffenart {color: #634B0C;
			font-size: 20px;
			font-weight: bold;
			-webkit-text-stroke: 0.2px black;}
	.magazin {color: black;
			font-size: 23px;
			font-weight: bold;
			-webkit-text-stroke: 0.2px black;}
	.Heilung {color: grey ;
			font-size: 20px;
			font-weight: bold;
			-webkit-text-stroke: 0.1px black;}
	.xtra {color: #664612;
			font-size: 20px;
			font-weight: bold;
			-webkit-text-stroke: 0.1px black;}
	.stack {color: #5E3229;
			font-size: 20px;
			font-weight: bold;
			-webkit-text-stroke: 0.1px black;}
				
#spot {border: 10px solid green;
		padding:10px
		background-color: #5f9ea0;}
							
.box {
	padding: 20px;
	border: 10px solid;
	border-color: green;
	background-color: #5f9ea0;
	widht: 1240px;
	margin: 20px auto;}

.box img {
	width: 100%;
	height: auto;
	display: block;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

#beschreibung {
		color: #0A3D62;
		font-family: Arial;}
		

header {
    grid-area: header;
    background-color: #5f9ea0;
    color: white;
    padding: 20px;
    text-align: center;}
  
main {
    grid-area: main;
    padding: 20px;}


nav {
    grid-area: nav;
    padding: 20px;
    position: fixed;
    width: 20%;}
    
	nav a {
		 display: block;
		 padding: 10px;
		 margin: 5px 0;
		 background-color: 	green;
		 color: white;
		 border-radius: 5px;
		 text-align: center;
		 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
		 text-decoration: none;}
	
nav a:hover {
	   	background-color: 	#1A1A1A;
	   	transform: scale(1.05);
	   	transition: all 0.4s ease;}
    
aside {
	 grid-area: aside;
    background-color: 	#317873;}

footer {
    grid-area: footer;
    background-color: 	#5f9ea0;
    color: white;
    padding: 20px;}
    
.footer-row {
    display: flex;
    justify-content: center;
    gap: 100px;  
    margin: 10px 0;}

.footer-left {
    text-align: right;  
    flex: 0 0 auto;}

.footer-right {
    text-align: left;  
    flex: 0 0 auto;}

footer a {
    text-decoration: none;
    color: Black;
    font-weight: bold;}

footer a:hover {
    text-decoration: underline;}
    
    



